html {
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu: rgb(166, 25, 46);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-tbwu-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-tbwu), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nlka-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nlka), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai: rgb(255, 255, 255);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-bzai-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-bzai), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz: rgb(0, 115, 152);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-odqz-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-odqz), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm: rgb(255, 255, 255);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-nojm-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-nojm), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq: rgb(166, 25, 46);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-kylq-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-kylq), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh: rgb(236, 236, 236);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-qalh-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-qalh), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pwke-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pwke), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv: rgb(106, 120, 131);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-fuqv-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-fuqv), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus: rgb(249, 249, 249);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-btus-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-btus), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-snlc-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-snlc), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz: rgb(232, 234, 236);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-stwz-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-stwz), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-eyxs-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-eyxs), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz: rgb(255, 255, 255);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-iyoz-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-iyoz), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs: rgb(12, 12, 12);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pkhs-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pkhs), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme: rgb(195, 195, 195);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-lwme-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-lwme), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc: rgb(19, 26, 32);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hwjc-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hwjc), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve: rgb(19, 26, 32);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-pgve-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-pgve), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv: rgb(248, 248, 248);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jdvv-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jdvv), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-hdbb-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-hdbb), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil: rgb(235, 235, 235);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-wcil-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-wcil), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw: rgb(39, 53, 64);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-jfnw-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-jfnw), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei: rgb(128, 128, 128);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-zeei-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-zeei), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs: rgb(0, 0, 0);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-plgs-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-plgs), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju: rgb(255, 255, 255);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-ndju-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-ndju), black 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh: rgb(255, 105, 180);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-lightened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), white 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-lightened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), white 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-lightened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), white 15%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-darkened-5: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), black 5%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-darkened-10: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), black 10%);
	--sd-cmfckoxdk00bfqy8soo0acq73-rifh-darkened-15: color-mix(in srgb, var(--sd-cmfckoxdk00bfqy8soo0acq73-rifh), black 15%);
}